# 忽略所有文件
/*

# 保留 Assets 文件夹
!Assets/
!Assets/**

# 保留 ProjectSettings 文件夹
!ProjectSettings/
!ProjectSettings/**

# 保留 Packages 文件夹
!Packages
!Packages/**

# 保留 .git 文件夹
!.git/

# 保留 .gitignore 文件
!.gitignore